@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fundo: 146, 7%, 14%;
    --texto-principal: 35, 44%, 88%;
    --card: 157, 6%, 19%;
    --primaria: 17, 89%, 71%;
    --primaria-texto: 146, 7%, 14%;
    --secundaria: 35, 44%, 88%;
  }
}
